<%= form_for @obra do |f| %>

    <% if @obra.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@obra.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @obra.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :nombreObra %><br>
      <%= f.text_field :nombreObra %>
    </p>

    <div class="field">
      <%= f.label "Usuarios permitidos en Obra" %><br />
      <%= f.collection_check_boxes :user_ids, User.all, :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
      <% end %>
    </div>
    </p>
    <p>
      <%= f.submit %>
    </p>


<% end %>