<%= form_for :obra do |f| %>
  <p>
    <%= f.label :nombreObra %><br><br>
    <%= f.text_field :nombreObra %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Lista Obras', obras_path %>
