<h1> Obras </h1>
<h3> <%= link_to 'Crear Obra', new_obra_path()%></h3>
<table>
  <tr>
    <th>Nombre obra</th>
  </tr>
  <% @obra.each do |obra| %>
    <tr>
      <td><%= obra.nombreObra %></td>
      <td><%= link_to 'Ingresar' %></td>
      <td><%= link_to 'Mostrar', obra_path(obra) %></td>
      <td><%= link_to 'Editar', edit_obra_path(obra) %></td>
      <td><%= link_to 'Eliminar', obra_path(obra),
                      method: :delete,
                      data: { confirm: '¿Estas?' } %></td>
    </tr>
  <% end %>
</table>
